{% extends "base.html" %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<section>
    <div class="navigation navigation--bg" style="background-color:#fcf75e">
      <div class="user-view">
        <a href="{% url 'profile-page' %}"><img  width="80px" height="60px"  src="/static/main/b3.jpg" />
      </div>
      <div>
        {% if user.is_authenticated %}
        <img href="{% url 'profile-page' %}" class="circle" width="60px"  height="60px"   src="{{userIn.profile.profile_image.url}}" />
        <a href="{% url 'logout' %}"></a><img  width="50px" height="50px"  src="/static/main/b4.jpg" />
        {% else %}
        <a href="{% url 'login' %}" class="login link">Log in</a>
        {% endif %}
      </div>
  </div>
  <section class="profile">
    <div>
      <img src="{{object.profile_image.url}}" alt="" class="profile-image" />
    </div>
    <div class="profile-about">
      <h2>{{ object.full_name }}</h2>
      <p class="bio">{{ object.bio }}</p>
      <p class="username">{{ object.user.username }}</p>
    </div>
    <div class="stats">
      <div>
        <h4 class="header">Age</h4>
        <h4>{{ object.age }}</h4>
      </div>
      <div>
        <h4 class="header">Likeability</h4>
        <h4>{{object.likeability.count}}</h4>
      </div>
    </div>
    <a
      href="{% url 'write-message' object.user.username %}"
      class="btn"
      style="margin: 20px; background: coral"
      >Send a Message</a
    >
  </section>
</section>

<footer class="page-footer" style="background-color:#fefe33" >
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">XORBIT</h5>
        <p class="grey-text text-lighten-4">
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="{% url 'profile-page' %}"
              >Profile</a
            >
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="{% url 'logout' %}"
              >Logout</a
            >
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="{% url 'date-page' %}"
              >Home</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">XORBIT © 2020</div>
  </div>
</footer>

<!--  -->
{% endblock content %}
