{% extends "base.html" %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
<section>
  <div class="navigation navigation--bg" style="background-color:#fcf75e">
    <div class="user-view">
      <a href="{% url 'profile-page' %}"><img  width="80px" height="60px"  src="/static/main/b3.jpg" />
    </div>
    <div>
      {% if user.is_authenticated %}
     
      <a href="{% url 'logout' %}"><img  width="50px" height="50px"  src="/static/main/b4.jpg" /></a>
      {% else %}
      <a href="{% url 'login' %}" class="login link">Log in</a>
      {% endif %}
    </div>
  </div>
 <!-- <div style="background-color: #D6D2E4 ; margin-top: -20px; margin-bottom:-30px;"> -->
  <section class="profile">
    <div>
      <img
        src="{{user.profile.profile_image.url}}"
        alt=""
        class="square"
        width="200px"
        
      />
    </div>
    <div class="profile-about">
      <h2>{{ user.profile.full_name }}</h2>
      <p class="bio">{{ user.profile.bio }}</p>
      <p class="username">{{ user.username }}</p>
    </div>
    <div class="stats">
      <div>
        <h4 class="header">Age</h4>
        <h4>{{ user.profile.age }}</h4>
      </div>
      <div>
        <h4 class="header">Likeability</h4>
        <h4>{{likes}}</h4>
      </div>
    </div>

    <div id="match-btn">
      {% if unreadmsgs > 0 %}
      <span class="new badge" id="msg-badge"> {{unreadmsgs}} </span>
      {% endif %}
      <a
        href="{% url 'date-page' %}"
        style="margin: 20px; background: #BA55D3"
        class="btn"
        >Find your match</a
      >
    </div>


  </section>
  <div style="margin: 30px auto; max-width: 50% ; margin-bottom: -15px; background-color: white;">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="fas fa-cog" ></i> Edit Profile
        </div>
        <div class="collapsible-body">
          <form action="" method="POST" enctype="multipart/form-data">
            <!-- Cross site request token added security -->
            {% csrf_token %}
            <!-- -->
            {{ form.as_p }}
            <div>
              <button class="btn" type="submit" style="margin: 20px 0">
                Update
              </button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
</section>


<footer class="page-footer"style="background-color:#fefe33">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Same Slot Same Spot</h5>
        <p class="black-text text-lighten-4">
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Links</h5>
        <ul>
          <li>
            <a class="black-text text-lighten-3" href="{% url 'profile-page' %}"
              >Profile</a
            >
          </li>
          <li>
            <a class="black-text text-lighten-3" href="{% url 'logout' %}"
              >Logout</a
            >
          </li>
          <li>
            <a class="black-text text-lighten-3" href="{% url 'date-page' %}"
              >Home</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="black-text">
      XORBIT © 2020</div>
  </div>
</footer>

<!--  -->
{% endblock content %}
