<footer class="page-footer" style="background-color:#fefe33" >
  <div class="container">
    <div class="row">
      <div class="col l6 s12" >
        <h5 class="black-text">XORBIT</h5>
        <p class="black-text text-lighten-4">
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Links</h5>
        <ul>
          <li>
            <a class="black-text text-lighten-3" href="{% url 'profile-page' %}"
              >Profile</a
            >
          </li>
          <li>
            <a class="black-text text-lighten-3" href="{% url 'logout' %}"
              >Logout</a
            >
          </li>
          <li>
            <a class="black-text text-lighten-3" href="{% url 'date-page' %}"
              >Home</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <div class="black-text">
      XORBIT © ara
    </div>
  </div>
</footer>